
* {
    font-family: 'Montserrat', sans-serif;
    
}



a {
    text-decoration: none;
    color: inherit;
    
}

.container {

    background-color: #FFFFFF;
    margin: auto;
    padding: 0;
    width: 1280px;
    height: 1626px;
  
}

.header {
    
    padding: 16px;

}

.nav__header {
    
    text-align: center;
    
}

.nav__list { 
    
}
 
li {
    list-style-type: none;
    display: inline;
     
}

.nav__item {
   
    color: #FF0000;
    display: inline;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    padding: 20px;
    
}

.main_image { 
    
    width: 100%;
}

main {
    
 
}

.title__main {
    margin: 50px 250px 40px;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    
    
}

.description__main {
    
    margin-left: 70px;
    width: 1145px;
    height: 132px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.description {
    margin-top: 30px;
    margin-left: 70px;
    margin-bottom: 70px;
    width: 1145px;
    height: 216px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}

.button {

   padding:  0;
   margin: 70px 540px 40px;
}

.button__title {

    background-color: #FF0000;
    border: none;
    border-radius: 4px;
    padding: 20px 40px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
   
}

.footer {
   
    text-align: end;
}

.footer__title {
   
    margin: 40px 105px 30px;
    height: 39px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2.4px;
    color: #373737;
}